/* You can add global styles to this file, and also import other style files */
.table-responsive {
    overflow: auto !important;
}

.contenedor-acciones {
    display: flex;
    justify-content: center;
}

.margin-acciones {
    margin-right: 1vw;
    cursor:pointer;
    font-size: 18px;
}

.margin-acciones:hover {
    color: var(--red);
}